<div class="dialog-header">
  <div class="header-content">
    <fa-icon *ngIf="!data.isLoading" [icon]="data.isSuccess ? faCheckCircle : faExclamationCircle" class="dialog-icon"
      [ngClass]="{'success-icon': data.isSuccess, 'error-icon': !data.isSuccess}">
    </fa-icon>
    <fa-icon *ngIf="data.isLoading" [icon]="faSpinner" class="dialog-icon loading-icon fa-spin">
    </fa-icon>
    <h2 class="dialog-title">{{ data.title }}</h2>
  </div>
  <button *ngIf="!data.isSuccess" class="close-button" (click)="onClose()">
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
</div>
<div class="dialog-content">
  <p>{{ data.message }}</p>
</div>
<div class="dialog-actions" *ngIf="!data.isSuccess">
  <button class="btn btn-primary" (click)="onConfirm()">{{ 'OK' | translate }}</button>
</div>